<h1>Listing Games</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Sport</th>
    <th>Location</th>
    <th>Time</th>
    <th>Min</th>
    <th>Max</th>
    <th>Signed Up</th>
    <th>Details</th>
  </tr>
 
  <% @games.each do |game| %>
    <tr>
      <td><%= game.title %></td>
      <td><%= game.sport%></td>
      <td><%= game.location%></td>
      <td><%= game.time%></td>
      <td><%= game.min%></td>
      <td><%= game.max%></td>
      <td><%= game.sign_ups%></td>
      <td><%= game.details%></td>
      <td><%= link_to '<button type="button" class="button">More Info</button>'.html_safe, games_meet_details_path %></td>
      <td><%= link_to 'More Info', games_path(game) %></td>
      <% if game.sign_ups <  game.max %>
        <td><%= link_to "Sign up for #{game.title}!", games_edit_path(:id =>game.id) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
